@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-grey:rgba(0, 0, 0, 0.03);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-grey: var(--card-grey);

  
  --animate-slidedown: slidedown 0.7s ease-in-out;
  @keyframes slidedown {
    0%{
      visibility: visible;
      transform: translate3d(0, -100%, 0);
      border-width:0px;
      opacity: 0;
    }
    30%{
      transform: translate3d(0, 0, 0);
      opacity: 1;
      border-width:4px;    }
    100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

   --animate-bordershrink: bordershrink 1s ease-in-out;
  @keyframes bordershrink {
    0%{
      visibility: visible;
      /* padding:0; */
      border-width:0px;
    }
    100% {
      /* padding:8px; */
      border-width:8px;

    }
  }
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }


}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter",Arial, Helvetica, sans-serif;
}

.shadow-buttons {
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
}

.shadow-cards {
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.05);

}